.containerRodape{
    display: flex;
align-items: center;
justify-content: center;
background-color: #000000;

}
.containerRodape img{
    width:20%;
    height: 20vh;
    border-radius: 50%;
    transition: 2.0s;
    cursor:pointer;
}
.containerRodape img:hover{
 width: 22%;
 height:21vh;
transform:2s;

}