.containerRodape {
  width: 100%;
  height:180px;
  display: flex;
  align-items: center;
  justify-content: center;
  background:url(./../../../public/1752859044101.jpg)  center/contain;
  color:goldenrod;

}
 .BoxText {
  width:80%;
padding:5px 10px;
margin-bottom:60px;
   align-items:center;
    font-size: 12px;
    text-align:center;
    font-family:'poppins', 'sans serif';
  border-radius: 3px;
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    background: rgba(255, 255, 255, 0.05); 
}

.containerRodape img{
    width:50%;
    height: 70vh;
    border-radius: 50%;
    transition: 2.0s;
    cursor:pointer;
}
.containerRodape img:hover{
 width: 65%;
 height:78vh;
transform:2s;

}