.containerTopo{
      display:flex;
    width:100%;
    padding:10px 10px;
    align-items: center;
 justify-content: space-between;
    background-color:#000000;
}
.containerTopo img{
    width:150px;
    height:100px;
    border-radius: 50%;
    box-shadow:1px 1px 2px #ffffff;

}
.containerTopo h1{
    color:rgba(255, 166, 0, 0.781);
    font-size:30px;
    margin-left:20px;
    font-family: Dancing script,Great vibes;
}