.containerTopo{
      display:flex;
    width:100%;
   align-items: center;
   justify-content: center;

    background-color:#000000;
  
}
.containerTopo img{
    width:150px;
    height:90px;
    transition:0.5s;
cursor:pointer;

}
